In [82]:
import pandas as pd

In [83]:
data = pd.read_csv('./Prostate_Cancer.csv')
data = data.drop('id',axis=1)
data.head()

,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,M,23,12,151,954,0.143,0.278,0.242,0.079
1,B,9,13,133,1326,0.143,0.079,0.181,0.057
2,M,21,27,130,1203,0.125,0.160,0.207,0.060
3,M,14,16,78,386,0.070,0.284,0.260,0.097
4,M,9,19,135,1297,0.141,0.133,0.181,0.059

In [84]:
data = data.dropna()
data = data.reset_index(drop=True)
data.head()

,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,M,23,12,151,954,0.143,0.278,0.242,0.079
1,B,9,13,133,1326,0.143,0.079,0.181,0.057
2,M,21,27,130,1203,0.125,0.160,0.207,0.060
3,M,14,16,78,386,0.070,0.284,0.260,0.097
4,M,9,19,135,1297,0.141,0.133,0.181,0.059

In [85]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(data["diagnosis_result"])

LabelEncoder()

In [86]:
le.classes_

array(['B', 'M'], dtype=object)

In [87]:
result = pd.DataFrame(data["diagnosis_result"])
features = data.drop("diagnosis_result",axis=1)
features.head()

,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,23,12,151,954,0.143,0.278,0.242,0.079
1,9,13,133,1326,0.143,0.079,0.181,0.057
2,21,27,130,1203,0.125,0.160,0.207,0.060
3,14,16,78,386,0.070,0.284,0.260,0.097
4,9,19,135,1297,0.141,0.133,0.181,0.059

In [88]:
target=pd.DataFrame(le.transform(result),columns=["diagnosis_result"])
target.head()

c:\users\chsrs\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   diagnosis_result
0                 1
1                 0
2                 1
3                 1
4                 1

In [89]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(features)
features = pd.DataFrame(scaler.transform(features))
features.head()

c:\users\chsrs\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

        0       1         2         3         4         5         6         7
0  0.8750  0.0625  0.825000  0.448687  1.000000  0.781759  0.685897  0.590909
1  0.0000  0.1250  0.675000  0.670644  1.000000  0.133550  0.294872  0.090909
2  0.7500  1.0000  0.650000  0.597255  0.753425  0.397394  0.461538  0.159091
3  0.3125  0.3125  0.216667  0.109785  0.000000  0.801303  0.801282  1.000000
4  0.0000  0.5000  0.691667  0.653341  0.972603  0.309446  0.294872  0.136364

In [90]:
from sklearn.model_selection import train_test_split
featureTrain , featureTest , labelTrain , labelTest = train_test_split(features,target)

In [91]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

knn.fit(featureTrain,labelTrain)
trainScore = knn.score(featureTrain,labelTrain)

print(trainScore)

0.8732394366197183

c:\users\chsrs\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

In [92]:
pred = knn.predict(featureTest)
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(labelTest,pred))
print(classification_report(labelTest,pred))

[[ 7  1]
 [ 0 16]]
              precision    recall  f1-score   support

           0       1.00      0.88      0.93         8
           1       0.94      1.00      0.97        16

   micro avg       0.96      0.96      0.96        24
   macro avg       0.97      0.94      0.95        24
weighted avg       0.96      0.96      0.96        24